* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    color: white;
    align-items: center;
    padding: 30px;
    border: solid black 2px;
    gap: 30px;
    cursor: pointer;
}

header ul li {
    text-decoration: none;
    list-style: none;
    text-align: center;
}