* {
    margin: 0px;
    padding: 0px;
    box size: border-box;
}

.box1 {
    background-color: yellow;
    border: 5px solid black;
    padding: 15px;
    width: 1000px;
    margin: auto;
    column-count: 3;
    border-radius: 20px;
}

.box1:hover {
    box-shadow: 5px 5px 10px grey;
    cursor: pointer;
}